body {
  background-repeat: no-repeat;
  background-position: top;
  background-color: white;
  background-image: url("assets/svg/skewed-background.svg");
}
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.button {
  cursor: pointer;
  min-width: 230px;
  border-radius: 10px;
  font-weight: 700;
  color: #f7f7ff;
  font-size: 20px;
  padding: 14px 0;
  border: none;
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
}
